.header{
    display: flex;
    justify-content: center;
    align-items: end;

    width: 100%;
    height: max-content;

    border-bottom: 5px solid black;
}

.header img{
    width: 30vw;
    height: max-content;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main {
    width: 100%;
    height: max-content;
}

.pokemon-search{
    background-color: crimson;
    max-height: max-content;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 100px;
    max-height: 20vh;
    border-bottom: 5px solid black;
}

.search-painel{
    display: flex;
    flex-direction: column;   
}

.labelsearch{
    color: white;
    margin-bottom: 15px;
}

.inputPokemonName{
    padding: 8px;
    border-radius: 10px;
    border: none;

    margin-bottom: 10px;
}

.buttonSearch{
    padding: 8px;
    border-radius: 10px;
    border: 4px solid blue; 

    background-color: yellow;
    color: blue;
}

.pokemons-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-width: 100%;
    max-height: auto;
}

.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titlePokedex{
    margin: 15px;
}

.pokemons .lipokemon{
    display: flex;
    flex-direction: column;
    margin: .4rem;
    max-width: 40vw;
    padding: 2rem 1rem;
    background-color: white;
    border: 3px solid rgb(117, 117, 117);

    border-radius: 1rem;
    color: black;
}

.pokemons .lipokemon:hover {
    border: 4px solid blue;
    background-color: yellow;
}

.details{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
   
    align-items: center;
}

.details img{
    border-style: none;
    max-width: 100%;
    height: 100px;
    margin-top: 15px;
}

.pokemon-name-span{
    font-size: 20px;
    text-transform: capitalize;
}

.button-load-more{
    border: 4px solid blue;
    background-color: yellow;
    color: blue;
    border-radius: 25px;

    align-self: center;

    padding: 15px;
    margin-block: 15px;
}

@media screen and (min-width: 768px) {
    .header img{
        max-width: 20vw;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemons-content{
        padding-inline: 15vw;
    }
}